.tile {
  flex-basis: calc(33% - var(--dashboard-column-gap));
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 375px;
}

.amountRow {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 10px;
}

.contextLine {
  font-size: var(--font-body-small);
  color: var(--token-color-text-subdued);
}
